body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tds_equipamentos {
    background-color:  #f9f2ed;
}

.equipamentos_titulo {
    text-align: center;
    padding: 20px 0;
}

.titulo_inicio {
    color: #333;
}

.equipamentos {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.img_equipamentos {
    max-width: 50%;
    border-radius: 8px;
}

.info-equipamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #a26737;
    width: 700px;
    height: 350px;
    margin-left: 40px;
    border-radius: 10px;
}

.cabeçalho_equipamento {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 900;
}

.equipmento-descrição {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.tec_ponta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin-left: 70px;
}


.tecnologia {
    text-align: center;
    background-color: #557E6E;
    width: 700px;
    height: 350px;
    border-radius: 10px;
}

.tecnologia_título {
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.tecnologia_descricao {
    color: white;
    text-align: center;
    }

.img_maquina {
    max-width: 50%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}
 
.agende {
    text-align: center;
    padding: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #557E6E;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

.iframe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.iframe {
    width: 350px;
    height: 500px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    border: white solid 15px;
    border-radius: 10px;
}

.iframe iframe {
    width: 100%;
    height: 100%;
}

.iframe-container p{
    
    background-color: #a26737;
    text-align: center;
    color: white;
    text-transform: uppercase;
    height: 40px;
    padding: 10px;
}


.sobre_mim {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    background-color: #f9f2ed;
    padding-bottom: 20px;
    
  }
  .sobre_mim img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 100px;
  }
  
  .sobre_mim h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
    flex: 1;
  }
  
  .texto_sobre{
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;

  }
  
  .sobre_mim p{
    text-align: center;
  }
  .texto_sobre_mim h1 {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px){
    .sobre_mim{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .sobre_mim img{
      margin-right: 0;
      margin-bottom: 20px;
    }
    .texto_sobre_mim{
      width: 100%;
      height: 100%;
    }
    .texto_sobre_mim h1{
      font-size: 2rem;
    }
  }