body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.equipamentosCima{

    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 1fr 1fr  ;
    justify-items: center;
    align-items: center;
    height: 900px;
    max-width: 1200px;
}
.img_equipamentos {
    grid-column-start: 0;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.info-equipamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    grid-column: 2;
    grid-row: 1;
    background-color: #a26737;

    width: 75%;
    height: 75%;
    border-radius: 0px;
}

.img_maquina {
    grid-column: 2;
    grid-row: 2;
    width: 50%;
    aspect-ratio: 150/100;
    margin-bottom: 150px;

    border-radius: 0px;
    align-items: center;
    justify-content: center;
}
.tecnologia {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    background-color: #557E6E;
    width: 90%;
    height: 80%;
    margin-left: 150px;
    margin-bottom: 150px;
    border-radius:0px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tds_equipamentos {
    background-color:  #f9f2ed;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.equipamentos_titulo {
    text-align:right;
    padding: 20px 0;
    width: 100%;
    display:grid;
    max-width: 1200px;

    grid-template-columns: 1fr 1fr;
}

.titulo_inicio {
    
    grid-column: 2;
    text-align: center;
    font-size: 50px;
    line-height: 1em;
    font-weight: 500;
    margin-right: 3rem;
    margin-top: 2rem;
}

.equipamentos {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}




.cabeçalho_equipamento {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 900;
}

.equipmento-descrição {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.tec_ponta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin-left: 70px;
}




.tecnologia_título {
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.tecnologia_descricao {
    color: white;
    text-align: center;
    }

 
.agende {
    text-align: center;
    padding: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #557E6E;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

.iframe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-top: 20px;
}

.iframe {
    width: 350px;
    height: 500px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    border: white solid 15px;
    border-radius: 10px;
}

.iframe iframe {
    width: 100%;
    height: 100%;
}

.iframe-container p{
    
    background-color: #a26737;
    text-align: center;
    color: white;
    text-transform: uppercase;
    height: 40px;
    padding: 10px;
}


.sobre_mim {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    background-color: #f9f2ed;
    padding-bottom: 20px;
    
  }
  .sobre_mim img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 100px;
  }
  
  .sobre_mim h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
    flex: 1;
  }
  
  .texto_sobre{
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 200px;

  }
  
  .sobre_mim p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em; 
    color: #333;
    letter-spacing: 1px; 
    line-height: 1.2; 
    margin-top: 30px;
}

  .texto_sobre_mim h1 {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px){
    .sobre_mim{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .sobre_mim img{
      margin-right: 0;
      margin-bottom: 20px;
    }
    .texto_sobre_mim{
      width: 100%;
      height: 100%;
    }
    .texto_sobre_mim h1{
      font-size: 2rem;
    }
  }