*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "quicksand", sans-serif;

}
/* Layout principal */
.TratamentoDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5vw;
}

/* Título */
.TratamentoDescription h2 {
    margin: 0;
    padding-top: 1rem;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
    color: #000000;
}

/* Parágrafo */
.TratamentoDescription p {
    margin: 0;
    padding: 1vw;
    width: 75%;
    height: auto;
    text-align: center;
    color: #000000;
}

/* Lista ordenada */
.TratamentoDescription ol {
    display: flex;
        flex-direction: row;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    max-width: 550px;
}
 
/* Item da lista ordenada */
.TratamentoDescription ol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

/* Imagem no item da lista ordenada */
.TratamentoDescription ol li img {
    width: 10vw;
    height: 10vw;
}

/* Título no item da lista ordenada */
.TratamentoDescription ol li h3 {
    margin: 0;
    padding: 0;
}

.TratamentoDescription section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1vw;
    margin-left: 30px;
    margin-right: 30px;
}

/* Parágrafo na seção */
.TratamentoDescription section p {
    text-align: center;
    width: 70%;
    margin: 0;
    padding: 0;
    


}

/* Lista ordenada na seção */
.TratamentoDescription section ol {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Item da lista ordenada na seção */
.TratamentoDescription section ol li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    margin: 0;
    padding: 0;
    gap: 1vw;
    flex-wrap: wrap;
}

/* Imagem no item da lista ordenada na seção */
.TratamentoDescription section ol li img {
    aspect-ratio: 1/1;
    width: 3vw;
    height: 3vw;
    margin: 0;
    padding: 0;
    background-color: red;
    background-image: url(/assets/img_certo.jpg);
   
}

/* Parágrafo no item da lista ordenada na seção */
.TratamentoDescription section ol li p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 3vw;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Botão */
.TratamentoDescription button {
    width: 30%;
    max-width: 60vw;
    height: 6vw;
    border: 0px;
    color: black;
    background-color: #557E6E;
    border-radius: 5px;
    font-size: 18px;
}

.image-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 10px !important;
    justify-items: center;
    align-items: center;
    width: 100%;
}

/* Media query para telas menores que 480px */
@media screen and (max-width: 480px) {
    .TratamentoDescription h2 {
        font-size: 7vw; 
    }

    .TratamentoDescription p {
        width: 90%; /* Ajuste da largura do parágrafo para telas menores */
    }

    .TratamentoDescription ol li img {
        width: 20vw; /* Ajuste do tamanho da imagem para telas menores */
        height: 20vw; /* Ajuste do tamanho da imagem para telas menores */
    }

    .TratamentoDescription section ol li img {
        width: 10vw; /* Ajuste do tamanho da imagem para telas menores */
        height: 10vw; /* Ajuste do tamanho da imagem para telas menores */
    }

    .TratamentoDescription button {
        width: 220px; 
        margin-top: 15px;
        
    }
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    .TratamentoDescription h2 {
        font-size: 5vw; 
    }
}
