footer{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: #557E6E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
footer h2{
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    width: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer ol{
    width: 80%;
    margin: 0%;
    padding: 0%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
footer ol li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width:180px;
    height: 180px;
}
footer ol li img{
    border: 0px;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
footer ol li p{
    margin: 0%;
    padding: 0%;
    width: auto;
    height: auto;
    
}
footer section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
footer img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    
}
footer h3{
    margin: 0%;
    padding: 0%;
    height: auto;
    word-break: keep-all;
    width: 70%;
    padding-bottom: 2rem;

}

.icons_footer{
    width: 100px;
     height: 80px;
     color: white;
}
hr{
    width: 70%;
    height: 3px;
    background-color:white;
    border: 0px;
    margin: 0%;
    padding: 0%;
    margin-bottom: 30px;
}
.footer_botao{
    display: inline-block;
    padding: 15px 30px;
    background-color: #557E6E;
    border: white solid 2px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 500px;
    text-align: center;
    margin-bottom: 30px;
}


.btn-zap {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
  }
  .btn-zap img {
    /* max-width: 94px; */
    transition: transform 0.4s;
    width: 100px;
    height: 80px;
  }
  .btn-zap img:hover {
    transform: scale(1.1);
  }
  
  .btn-zap .agende {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 8px;
    align-items: center;
    background-color: black;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    text-decoration: none;
  }
  
  .btn-zap:hover .agende {
    visibility: visible;
    opacity: 1;
  }

  .content{
    color: white;
  }
  .title{
    color: white;
  }
  
  
  @media screen and (max-width: 768px) {
    .btn-zap img {
      max-width: 60px;
    }
  }

   .p_footer{
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
  } 
  .h2_footer{
    color: white;
    font-size: 100px;
    
  }