footer{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: #ffebc9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
footer h2{
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    width: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer ol{
    width: 80%;
    margin: 0%;
    padding: 0%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
footer ol li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width:180px;
    height: 180px;
}
footer ol li img{
    border: 0px;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
footer ol li p{
    margin: 0%;
    padding: 0%;
    width: auto;
    height: auto;
    
}
footer section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
footer img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid ;
}
footer h3{
    margin: 0%;
    padding: 0%;
    height: auto;
    word-break: keep-all;
    width: 70%;
    padding-bottom: 2rem;

}

.icons_footer{
    width: 100px;
     height: 80px;
}