*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "quicksand", sans-serif;

}

header{
    width: 100%;
    height: 100px;
    background-color:#f9f2ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
}
#logo{
    width: 200px;
}

.navBar ol li a{
    display: block;
    color: black;
    font-size: 17px;
    padding:  10px 25px;   
    border-radius: 50px;
    transform: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}
.navBar ol{
    display: flex;
}
.menu{
    display: none;
}
.navBar ol li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.navBar ol li a.ativa{
    color: black;
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width:1320px) {
    header{
        padding: 0 50px;
    }
    
}
@media only screen and (max-width:1100px) {
    header{
        padding: 0 30px;
    }
    
}
@media only screen and (max-width:900px) {
    .menu{
        display: block;
        cursor: pointer;
        z-index: 1;
    }
    .menu .line{
        width: 25px;
        height: 3px;
        background-color: black;
        gap: 1;
    }
    .navBar{
        height: 0px;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: antiquewhite;
        transition: 0.5s;
        overflow: hidden;
        margin-bottom: 20px;
        
    }
    .navBar.ativa{
        height: 450px;
    }
    .navBar ol{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        

    }
    .navBar.ativa ul {
        opacity: 1;
    }
    .navBar ol li a {
        margin-bottom: 12px;
        color: black ;
    }
    
}
  
@media only screen and (max-width:375px) {

}
